.featured-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
}

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px
}

.container .box {
    border-radius: 10px;
    
    color: white;
    background: #2223; /*rgba*/
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;

    /* transition: 0.5s */
}


@keyframes appear {
    from {max-height: 0;}
    to {max-height: 100%;}
}

.is-reveal {
    animation: appear;
    animation-duration: 1s;
}


/* .container .box:hover {
    background: #e91e63;
} 
*/

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}


.container .box:nth-child(1) {
    grid-column: span 2;

    background-image: url("~/public/assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

