.side-panel-container {
    position: fixed;
    background-color: #2225;
    width: 20%;
    height: 96%;
    top: 2%;
    left: 2%;

    border-radius: 15px;

}

.side-panel-options {
    position: inherit;
    bottom: 5%;
    background-color: #2225;

    width: 20%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

@media only screen and (max-width: 600px) {
    .side-panel-container {
        position: fixed;
        background-color: #2225;
        width: 30%;
        height: 96%;
        top: 2%;
        left: 2%;
    
        border-radius: 15px;
    
    }

    .side-panel-options {
        position: inherit;
        bottom: 5%;
        background-color: #2225;
    
        width: 30%;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
}


.side-panel-info * {
    padding: 5%;
}

.side-panel-container img {
    max-height: 10vh;
    max-width: 10vw;
}

.error-panel {
    background-color: #f005;
    border-radius: 15px;
    margin: 10px;
}

[hidden] {
    opacity: 0;
}

.donate-button {
    transition: .3s;    
    border-radius: 10px;
}

.donate-button:hover {
    background-color: rgba(227, 236, 125, 0.867);
}