.Media {
    padding-left: 0px;    
    position: absolute;

    height: 100%;
    width: 100%;

    background-image: linear-gradient(#ebf2af, #8390d0);
    
}


.post-container {
    position: fixed;
    width: 70%;
    top: 2%;
    left: 25%;

    overflow: auto;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    z-index: 2;
}



.post {
    background-color: #2225;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;

}

.post-image {
    width: 50%; 
    border-radius: 10px;
}

/* .post-image.resize {
    width:100vh; 
    height: auto;
} */

.user-image {
    border-radius: 100%;
    max-height: 8vh;
    max-width: 8vw;
}


@media only screen and (max-width: 600px) {
    .post-container {
        position: fixed;
        width: 65%;
        top: 2%;
        left: 25%;
    
        overflow: auto;
        max-height: 100vh;
    
        display: flex;
        flex-direction: column;
        z-index: 2;
    }
}